In [16]:
import pandas as pd
import  seaborn as sns
import numpy as np
import  matplotlib.pyplot as plt

In [23]:
df = sns.load_dataset('iris')
df.head(3)

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

In [25]:
df_n = pd.get_dummies(data=df, columns=['species'])
df_n.head(3)

,sepal_length,sepal_width,petal_length,petal_width,species_setosa,species_versicolor,species_virginica
0,5.1,3.5,1.4,0.2,1,0,0
1,4.9,3.0,1.4,0.2,1,0,0
2,4.7,3.2,1.3,0.2,1,0,0

In [29]:
df.corr(method='pearson').style.background_gradient(cmap='coolwarm')