In [12]:
import pandas as pd 
import seaborn as sns

In [13]:
df = sns.load_dataset('iris')

In [14]:
df.to_csv('data/iris.csv', index=False)

In [15]:
import dask.dataframe as dd

In [16]:
df_dask = dd.read_csv('data/iris.csv')

In [17]:

df_dask.head()

   sepal_length  sepal_width  petal_length  petal_width species
0           5.1          3.5           1.4          0.2  setosa
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa
3           4.6          3.1           1.5          0.2  setosa
4           5.0          3.6           1.4          0.2  setosa

In [19]:
df_dask.compute()

     sepal_length  sepal_width  petal_length  petal_width    species
0             5.1          3.5           1.4          0.2     setosa
1             4.9          3.0           1.4          0.2     setosa
2             4.7          3.2           1.3          0.2     setosa
3             4.6          3.1           1.5          0.2     setosa
4             5.0          3.6           1.4          0.2     setosa
..            ...          ...           ...          ...        ...
145           6.7          3.0           5.2          2.3  virginica
146           6.3          2.5           5.0          1.9  virginica
147           6.5          3.0           5.2          2.0  virginica
148           6.2          3.4           5.4          2.3  virginica
149           5.9          3.0           5.1          1.8  virginica

[150 rows x 5 columns]

In [29]:
%%timeit
df_dask.loc[:,'sepal_length':'petal_length'].head()

11.6 ms ± 630 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [30]:
%%timeit
df.loc[:,'sepal_length':'petal_length'].head()

188 µs ± 10.5 µs per loop (mean ± std. dev. of 7 runs, 10000 loops each)

In [48]:
%%timeit
df_dask_grouped = df_dask.groupby('species').agg({
    'sepal_length':sum,
    'sepal_width':sum, 
    'petal_length': sum,
    'petal_width':sum
})
df_dask_grouped

6.99 ms ± 117 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [41]:
%%timeit
df_grouped = df.groupby('species').agg({
    'sepal_length':sum,
    'sepal_width':sum, 
    'petal_length': sum,
    'petal_width':sum
})
df_grouped.head(5)

2.56 ms ± 111 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

In [61]:
colors = ['red', 'orange', 'yellow', 'green']
for each in colors:
    print(each)

red
orange
yellow
green

In [71]:
shapes = [3,4,5,6,3,3]
result = itertools.combinations(set(shapes), 2)
for each in result:
    print(each)

(3, 4)
(3, 5)
(3, 6)
(4, 5)
(4, 6)
(5, 6)

In [78]:
for i in itertools.count(start = 10,step = 3):
    print(i)
    if i > 20:
        break

10
13
16
19
22